.nav {

    display: flex;
    justify-content: space-between;
    width: 100%;
}

.nav h1 {

    color: blueviolet;
    margin-top: 10px;
}

.nav ul {

    display: inline-flex;
    list-style: none;
    margin-top: 10px;
    padding: 0;
}

.nav ul li {

    margin: 0 15px;
}

.nav ul li a {

    text-decoration: none;
    color: blueviolet;
}

.nav-search {

    margin-top: 5px;
    flex: 1;
    display: flex;
    margin: 0 10%;
}

.nav .nav-search input {

    flex: 1;
    color: blueviolet;
    border: 1px solid blueviolet;
    height: 35px;
    border-right: 0px;
    padding-left: 15px;
}

.nav .nav-search button {

    color: blueviolet;
    border: 1px solid blueviolet;
    height: 39px;
    border-left: 0px;
}